
<div class="row">
    <div class="col s12 title">
        <h3>
            <a ui-sref="employee" class="btn-floating waves-effect waves-light btn-small"><i class="material-icons left">arrow_back</i> </a>
            Expenses of {{vm.current_trip.name}}
        </h3>
    </div>
</div>

<div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large red" ng-class="{'started': 'enabled', 'finished': 'disabled'}[vm.current_trip.status]">
        <i class="large material-icons">menu</i>
    </a>
    <ul>
        <li>
            <button
               ng-click="(vm.current_trip.status == 'started') && (vm.openModal = true)"
               class="btn-floating blue"
               ng-class="{'started': 'enabled', 'finished': 'disabled'}[vm.current_trip.status]"
               tooltipped data-position="bottom" data-tooltip="Add new expense">
                <i class="material-icons">add</i>
            </button>
        </li>
        <li>
            <button ng-click="(vm.current_trip.status == 'started') && vm.finishTrip()"
                    ng-class="{'started': 'enabled', 'finished': 'disabled'}[vm.current_trip.status]"
                    class="btn-floating red" tooltipped data-position="bottom" data-tooltip="Finish trip">

                <i class="material-icons">flight_land</i>
            </button>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col s6">

        <label for="inputCreated">Filter by Day</label>
        <input input-date
               readonly
               class=""
               type="text"
               id="inputCreated"
               ng-model="vm.searchDay "
               format="dd-mm-yyyy"
               today="today"
               first-day="1"
               select-years="15" />
    </div>
</div>

<div class="row">
    <div class="col s12">

        <!-- Table list -->
        <table class="bordered">
            <thead>
            <tr>
                <th data-field="name">Name</th>
                <th data-field="value">Value</th>
                <th data-field="note">Created at</th>
                <th data-field="note">Tags</th>
                <th data-field="note">Note</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="expense in expenses_filtered = (vm.expenses | filter: vm.dayFilter('created_at', vm.searchDay) )">
                <td>{{expense.name}}</td>
                <td>{{expense.value | currency : $ : 2}}</td>
                <td>{{expense.created_at | date : 'dd-MM-yyyy'}}</td>
                <td>{{expense.all_tags}}</td>
                <td>{{expense.note}}</td>
            </tr>
            <tr ng-class="{false: 'hide'}[!vm.expenses.length]">
                <td colspan="5" class="centered">Not found expenses</td>
            </tr>
            </tbody>
            <tfoot>
            <tr ng-class="{true: 'hide'}[!vm.expenses.length]">
                <th>Total:</th>
                <td colspan="4">{{expenses_filtered | sumByKey : 'value' : vm.searchDay | currency : $ : 2}}</td>
            </tr>
            </tfoot>
        </table>



    </div>
</div>


<!-- Modal Show expenses-->
<a class="hide" href='#modal-new-expense' ng-click='vm.openModal = true' modal open="vm.openModal"></a>
<div id="modal-new-expense" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <h4>
                    Expense for {{vm.current_trip.name}}
                </h4>
            </div>
        </div>

        <!-- New expense -->
        <div class="row">
            <div class="col s12">
                <form ng-submit="vm.saveExpense()">
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="name" type="text" class="validate" ng-model="vm.expense_params.expense.name">
                            <label for="name">Name</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="value" type="number" class="validate" ng-model="vm.expense_params.expense.value">
                            <label for="value">Value</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="tags" type="text" class="validate" ng-model="vm.expense_params.expense.all_tags">
                            <label for="tags">Tags, separated by comma (,)</label>
                        </div>
                        <div class="input-field col s12">
                            <textarea id="note" class="materialize-textarea" ng-model="vm.expense_params.expense.note"></textarea>
                            <label for="note">Note</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 right-align">
                            <button class="btn-flat red-text modal-action modal-close" type="reset">Cancel</button>
                            <button class="btn-flat teal-text" type="submit" >Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>

