<div ui-view>
    <div class="row">
        <div class="col s12 title">
            <h3>Employees</h3>
        </div>
    </div>

    <a class="btn-floating btn-fixed-add btn-large waves-effect waves-light red" href='#modal-new-employee' ng-click='vm.openModal = true' modal open="vm.openModal"><i class="material-icons">add</i> </a>

    <div class="row">
      <div class="col s12">

        <ul class="collection">

          <li class="collection-item avatar" ng-repeat="user in vm.employees">
            <i class="material-icons circle">perm_identity</i>
            <span class="title">{{user.short_name}}</span>
            <p>{{user.email}} <br/>
            {{user.role | humanize}}
            </p>
            <!-- <a href="#!" class="tertiary-content btn-floating red" tooltipped data-position="bottom" data-tooltip="Delete"><i class="material-icons">remove</i></a> -->
            <button ng-click="vm.newTrip(user)" ng-show="user.role == 'employee'" class="secondary-content btn-floating" tooltipped data-position="left" data-tooltip="Create a trip"><i class="material-icons">flight_takeoff</i></button>
          </li>

        </ul>
      </div>
    </div>


    <!-- Modal Create Employee -->
    <div id="modal-new-employee" class="modal modal-fixed-footer">
      <form name="createEmployee" ng-submit="vm.createEmployee()" novalidate>
          <div class="modal-content">
                <div class="row">
                    <div class="col s12">
                        <h4>Create Employee</h4>
                    </div>
                </div>

              <div class="row">
                <div class="col s12">
                  <div class="row">
                    <div class="input-field col s12 m6">
                      <input id="first_name" type="text" class="validate" ng-model="vm.params.user.first_name">
                      <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s12 m6">
                      <input id="last_name" type="text" class="validate" ng-model="vm.params.user.last_name">
                      <label for="last_name">Last Name</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12 m6">
                      <input id="email" type="email" class="validate" ng-model="vm.params.user.email">
                      <label for="email">Email</label>
                    </div>
                    <div class="input-field col s12 m6">
                      <input id="phone" type="text" class="validate" ng-model="vm.params.user.phone">
                      <label for="phone">Phone</label>
                    </div>
                  </div>

                   <div class="row">
                    <div class="input-field col s12 m6">
                      <input id="password" type="password" class="validate" ng-model="vm.params.user.password">
                      <label for="password">Password</label>
                    </div>
                    <div class="input-field col s12 m6">
                      <input id="password_confirmation" type="password" class="validate" ng-model="vm.params.user.password_confirmation">
                      <label for="password_confirmation">Password confirmation</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12 m6">
                      <select id="role" material-select watch ng-model="vm.params.user.role">
                        <option value="admin">Admin</option>
                        <option value="employee">Employee</option>
                      </select>
                      <label for="role">Role</label>
                    </div>
                    <div class="input-field col s12 m6">
                      <select id="gender" material-select watch ng-model="vm.params.user.gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                      </select>
                      <label for="gender">Gender</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12 m6">
                      <input id="address" type="text" class="validate" ng-model="vm.params.user.address">
                      <label for="address">Address</label>
                    </div>
                  </div>

                </div>
              </div>

            </div>

          <div class="modal-footer">
              <button class="btn-flat teal-text" type="submit" >Save</button>
              <button class="btn-flat red-text modal-action modal-close" type="reset" >Cancel</button>
          </div>
        </form>
    </div>


    <!-- Modal Create Trip -->
    <a class="hide" href='#modal-new-trip' ng-click='vm.openModalTrip = true' modal open="vm.openModalTrip"><i class="material-icons">add</i> </a>
    <div id="modal-new-trip" class="modal">
      <form name="createTrip" ng-submit="vm.createTrip()" novalidate>
          <div class="modal-content">
              <div class="row">
                  <div class="col s12">
                      <h4>Create Trip for {{vm.full_name}}</h4>
                  </div>
              </div>

              <div class="row">
                  <div class="col s12">
                      <input type="hidden" ng-model="vm.params.user.user_id">
                      <div class="row">
                          <div class="input-field col s12 m6">
                              <input id="name" type="text" class="validate" ng-model="vm.trip_params.trip.name">
                              <label for="name">Name</label>
                          </div>
                          <div class="input-field col s12 m6">
                              <input id="budget" type="number" class="validate" ng-model="vm.trip_params.trip.budget">
                              <label for="budget">Budget</label>
                          </div>
                          <div class="input-field col s12">
                              <textarea id="description" class="materialize-textarea" ng-model="vm.trip_params.trip.description"></textarea>
                              <label for="description">Description</label>
                          </div>
                      </div>
                  </div>
              </div>


          </div>

          <div class="modal-footer">
              <button class="btn-flat teal-text" type="submit" >Save</button>
              <button class="btn-flat red-text modal-action modal-close" type="reset" >Cancel</button>
          </div>
        </form>
    </div>
</div>