/**
*  @author ctola
*/
//global styles
header, main, footer {
  padding-left: 240px;
}

.fixed-action-btn{
	top: 80px;
	right: 10px;
	height: 55px;
}

.btn-fixed-add{
	position: fixed;
	top: 80px;
	right: 10px;
	z-index: 2;
}
.btn-fixed-on-modal{
	position: fixed;
	top: 24px;
	right: 34px;
	z-index: 2;
}

.collection .collection-item.avatar {
	.secondary-content {
		top: 25px;
		display: none;
	}
	.tertiary-content {
		position: absolute;
    	right: 60px;
		top: 25px;
		display: none;
	}

	&:hover {
		.secondary-content,.tertiary-content{
			display: inline-block;
		}
	}
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
	display: none !important;
}
table{
	.centered{
		text-align: center !important;
	}
}


@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}